* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F0F0;
}

.outer-container {
    max-width: 100%;
    width: 1440px;
    box-sizing: border-box;
}

.container {
    background-color: #FFF !important;
    width: 840px;
    padding: 56px;
    border-radius: 24px 24px 200px 24px;
    margin: 100px auto;
}

.form-inputs {
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    gap: 37px;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px
}

.form-input label {
    color: #716F6F;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

.form-input input {
    border-radius: 8px;
    border-color: gray;
    width: 125px;
    padding: 12px 24px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.32px;
}

.form-line {
    content: '';
    height: 1px;
    width: 83%;
    background-color: #716F6F;
}

.form-send {
    display: flex;
    align-items: center;
}

.form-btn {
    border-radius: 50%;
    width: 100px;
    height: 115px;
}

.result {
    font-family: Poppins;
    font-size: 104px;
    font-style: italic;
    font-weight: 800;
    line-height: 110%; 
    letter-spacing: -2.08px;
    margin-bottom: 30px;
}

.result p {
    margin-bottom: 10px;
}

.result p span {
    color: #854DFF;
}